<?php
/** @var \Masteryodo\MagentoModule\Block\Block $block */
?>

<h1>Jobs</h1>
<h2>create new schedule</h2>
<form id="addform" action="/rest/all/V1/schedule/" method="post" enctype='application/json'>
    <label for="job_code"></label>
    <input type="text" name="job_code">
    <label for="scheduled_at"></label>
    <input type="datetime-local" name="scheduled_at">
    <input type="submit" value="ok">
</form>

<h2>exist schedules</h2>
<table id="jobs">
    <?php
    foreach ($block->getPreparedData() as $key => $value) {
        print "<tr id='row" . $key . "'>
                    <td>" . $key . " </td>
                    <td> " . $value . "</td>
                    <td>
                        <form action='/rest/all/V1/schedule/" . $key . "' method='DELETE'  about='$key'>
                            <button type='submit'>delete</button>
                        </form>
                    </td>
               </tr>";
    }

    ?>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    $(function () {
        $('#jobs form').submit(function (e) {
            var $form = $(this);
            $('#row' + $form.attr('about')).css("color", "red");
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize()
            }).done(function () {
                alert('successfully deleted job with id ' + $form.attr('about'));
                $('#row' + $form.attr('about')).remove();
            }).fail(function () {
                alert('fail - Something went wrong');
            });
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
        });

        $('#addform').submit(function (e) {
            var $form = $(this);
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: JSON.stringify(
                    {
                        "data": {
                            "job_code": $('#job_code').val(),
                            "scheduled_at": $('#scheduled_at').val()
                        }
                    }
                ),
                dataType: "json",
                contentType: "application/json; charset=utf-8"
            }).done(function () {
                alert('successfully created job with');
                location.reload();
            }).fail(function () {
                alert('fail - Something went wrong');
            });
            //отмена действия по умолчанию для кнопки submit
            e.preventDefault();
        });
    });
</script>

